.vscode/
# Dependencies
**/node_modules/
*/node_modules/

# Test results and coverage
**/test-results/
*/test-results/
**/jest-html-reporters-attach/
*/jest-html-reporters-attach/
**/*.html
jest_html_reporters.html
/coverage
**/coverage/
*/coverage/

# OS files
.DS_Store
*.pem